/*ESTILOS GENERALES*/

    body{
        background-color: white;
        color: #D07517;
        font-family: 'Sarabun', sans-serif;
        font-size: large;
    }
.navbar-brand h1 {
    font-family: 'Courier New', Courier, monospace;
}