@mixin anclas {
    text-decoration: none;
    color: $color-fuentes-secundario;
    font-size: 2rem;
}

header{

        .navbar{
                font-family: 'Sarabun', sans-serif;
                font-weight:lighter;
                color: $color-fuentes;
                font-size: 10px;
            }

        .navbar-brand h1{
            color: $color-fuentes;
            font-family:'Allison', cursive;
            text-transform: lowercase;
            font-size: 100px;
            padding: 0;
            margin-top: -30px;
        }

        .dropdown-menu a{
            font-family: 'Sarabun', sans-serif;
            font-size: 10px;
        }
    }



