.hero{
    background-image: url(../imagenes/sense-logo.png);
    background-repeat: no-repeat;
    background-size: 1200px 650px;
    display: grid;
    margin-top: 5px;
    background-attachment:initial;
    height: calc(100vh - 5rem);
    position: relative;
    color: $color-fuentes;


    h2 {
        margin-bottom: 15px;
        font-size: 2.5rem;
        font-weight: 500;
        span{
            font-size: 10rem;
            font-weight: 50;
            position: relative;
            padding: 0 1.5px;
            font-family: 'Allison', cursive ;
            
            &::before{
                content: "";
                position: relative;
                height: 10%;
                bottom: 6px;
                right: 3rem;
                left: 3rem;
                background-color: $color-botones;
            }
        }
    }

    p{ 
        
        font-family: 'Sarabun', sans-serif;
        color: $color-fuentes-secundario;
        margin-bottom: 30px;
        font-size: 40px;
        }
    }

    a{
        
        font-family: 'Sarabun', sans-serif;
        @include anclas;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        transition: all 0.2s ease;

        &:hover{
            background-color: $color-botones;
            color: $color-fuentes-secundario;
        }
    }
